#baoDau {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#baoDau .dau {
    display: grid;
    grid-template-columns: 400px 300px 600px 200px;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.baHinhTron {
    display: flex;
}

.haiHinhVuong {
    display: flex;
}

.haiHinhCN {
    display: flex;
}

.baHinhTron .h1 {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-radius: 100px;
    align-items: center;
}

.baHinhTron .h1 a {
    color: black;
}

.haiHinhVuong {
    display: inline-block;
}

.haiHinhVuong div {
    float: left;
}

.haiHinhVuong .h2_1 {
    width: 70px;
    height: 50px;
    display: flex;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.haiHinhVuong .h2_2 {
    width: 70px;
    height: 50px;
    display: flex;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.input {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.baoInput {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-radius: 5px;
}

.baoInput input {
    width: 500px;
    height: 48px;
    border: none;
    outline: none;
}

.input-btn {
    width: 70px;
    height: 50px;
    border: none;
    outline: none;
    border-left: 2px solid black;
    background-color: aqua;
}


.haiHinhCN {
    margin-left: 100px;
    width: 100%;
    display: flex;
}

.haiHinhCN .h3_1 {
    width: 70px;
    height: 50px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.haiHinhCN .h3_2 {
    width: 70px;
    height: 50px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#header {
    width: 100%;
    display: inline-block;
    justify-content: center;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}


.allmenu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_menu {
    width: 95%;
}


.baoMenu {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.bao_3_menu {
    width: 100%;
    display: inline-block;
    margin-right: 80px;
}




.bao_3_menu ul {
    list-style: none;
    display: flex;
    float: right;
}

.bao_3_menu ul li a {
    text-decoration: none;
    font-size: 30px;
    padding: 12px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}









.logo {
    margin-left: 80px;
}

.logo a img {
    width: 150px;
}

.img-end-text {
    width: 100%;
    height: 600px;
}

.img-div {
    width: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img-div img {
    width: 95%;
    height: 500px;
}

.img-div {
    position: absolute;
    z-index: 1;
}

.text {
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 2;
    top: 210px;
    font-size: 35px;
    color: white;
    text-shadow: 1px 2px 3px black;
}

#body {
    display: grid;
    grid-template-columns: 500px 500px 500px;
    grid-template-rows: 200px 200px 100px;
    justify-content: center;
    grid-gap: 10px;

}

.div_1 {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-column-end: 1;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.div_3 {
    grid-column-end: 1;
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.div_2 {
    grid-column-end: 3;
    grid-column-start: 4;
    grid-row-start: -4;
    grid-row-end: -2;
}

.div_2 h1 {
    text-align: center;
}

.div_4 {
    font-weight: bold;
    grid-column-end: 1;
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

#die{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.baoDie{
    width: 100%;
    display: flex ;
    justify-content: center;
    align-items: center;
}

.baoDie .ul_li_die{
    width: 100%;
    display: flex;
}
.ul_li_die .menu1{
    width: 60px;
    height: 60px;
    border: 2px solid black;
    border-radius: 100px;
    padding:100px;
    display: flex;
}
.menu2{
    width: 600px;
    display: inline-block;
    float: right;
}

.menu2 ul{
    display: flex;
    float: right;
    list-style: none;
}

.menu2 ul .menu2_li{
    padding: 15px;
    color: black;

}

.menu2 ul .menu2_li a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
}
