#bao {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.input1 input {
    margin: 10px;
    width: 600px;
    height: 40px;
}

.radio{
    width: 100%;
}
.radio input{
    width: 30px;
    height: 30px;
}

.form_all .cuoi {
    width: 600px;
    height: 80px;
}
.form_all select{
    width: 600px;
    height: 40px;
}